footer {
  background-color: #232323;
  color: white;
  max-width: 1200px;
  height: 268px;
  a{
    color: #fff;
  }
 }
.container_2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   .icon{
   }
 }
