$icon_size: 20px;
.title{
  text-align: center;
  text-transform: uppercase;
  h1{
    color: $main_yellow_color;
  }
  .separator{
    display: flex;
    justify-content: center;
    align-items: center;
    @mixin sep_line{
      content:  " ";
      display: block;
      width: 140px;
      height: 2px;
      background-color: darken($main_yellow_color, 30%);
    }
    &::before{
        @include sep_line;
    }
    &::after{
        @include sep_line
    }
    color: $main_yellow_color;
    i {
      font-size: $icon_size;
      margin: 0 ($icon_size/3);
    }
  }
}
